@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


  body {
    color:cornflowerblue;
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
     margin-top:20px;
     background-color:#0a0a0a;
    
  }

  #navbar{
    display: flex;
    justify-content: center;
  }
  
  .linkComp{
    margin: auto;
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
